.gameCard {
  margin: 2rem 1rem;
  border-radius: 0.5rem;
  position: relative;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.3s ease-in-out;
}

.gameCard .gameImg {
  height: 70%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.gameCard .gameIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  border-radius: 3rem;
  padding: 0.6rem;
  margin-right: 1rem;
  background-color: black;
  color: white;
  position: absolute;
  top: 8.7rem;
  right: 0;
}

.gameCard .cardheadings {
  padding: 0.5rem 0 0 0.5rem;
}

.gameCard .cardheadings .title1 {
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 40%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 15rem;
}

.gameCard .cardheadings .title2 {
  margin-block-start: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 15rem;
}

.gameCard:hover {
  transform: scale(1.07);
}
