.dcContainer {
  background-color: #323232;
  background-image: url("https://cncdn.dmti.cloud/200e4a4b5c610e7faf2ade024293655cdbae5a40/static/media/pattern_01.0a916b46.svg");
  padding: 1rem 0rem;
}

.dcContainer .dcCard {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  height: 100%;
  margin: 2rem auto;
  border-radius: 1rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .dcContainer {
    padding: 2rem 1rem;
  }

  .dcContainer .dcCard {
    grid-template-columns: 1fr 1fr;
  }
}
