.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0rem 0.2rem 1rem;
  background-color: black;
  transition: all 0.5 ease-in-out;
}
.navbar .logo {
  display: block;
  width: 6rem;
  margin-left: 1rem;
}
.navbar .open {
  width: 100% !important;
  transition: all 0.5s ease-in-out;
}

.navbar .smallScreen {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 0;
  height: 100%;
  z-index: 2;
  overflow-x: hidden;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

.navbar .smallScreen .smallItem {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  gap: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  right: 0;
  bottom: 0;
}

.navbar .smallScreen .smallItem .list {
  text-decoration: none;
  list-style: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1.8rem;
}

.navbar .smallScreen .hamburger-cross,
.navbar .hamburger-icon {
  color: white;
  margin: 0;
  font-size: 2.5rem;
  cursor: pointer;
}

.navbar .hamburger-icon {
  display: block;
}

.navbar .largeScreen {
  display: none;
}

.navbar .largeScreen .iconContainer .title {
  display: none;
}
.navbar .largeScreen {
  display: none;
}
.navbar .largeScreen .iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    bottom: 0;
    padding: 0.2rem 2rem;
  }
}

@media (min-width: 768px) {
  .navbar .hamburger-icon {
    display: none;
  }
  .navbar .logo {
    display: block;
    width: 8rem;
  }
  .navbar {
    width: 100%;
    box-sizing: border-box;
  }

  .navbar .smallScreen {
    display: none;
  }

  .navbar .largeScreen {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 3rem 0.2rem 8rem;
  }

  .navbar .largeScreen .iconContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .navbar .largeScreen .iconContainer .title {
    color: white;
    display: flex;
  }
}
