.dcImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.dcText {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.dcText .textContent {
  padding: 0.7rem 2rem;
}

.dcText .dcTitle {
  font-size: 2rem;
  margin-block-end: 0.5rem;
}

.dcText .dcPara {
  margin-block-start: 0;
  font-weight: 600;
  padding-right: 1rem;
  font-size: medium;
}
